<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <nlog autoReload="true">
    <targets>
      <target type="File" name="file_trace" fileName="${basedir}/Logs/Log_${level}_${shortdate}.log" layout="${longdate} ${callsite} ${message}" encoding="UTF-8"/>
      <target type="File" name="file_warn" fileName="${basedir}/Logs/Log_${level}_${shortdate}.log" layout="${longdate} ${callsite} ${message}" encoding="UTF-8"/>
      <target type="File" name="file_debug" fileName="${basedir}/Logs/Log_${level}_${shortdate}.log" layout="${longdate} ${callsite} ${message}" encoding="UTF-8"/>
      <target type="File" name="file_info" fileName="${basedir}/Logs/Log_${level}_${shortdate}.log" layout="${longdate} ${callsite} ${message}" encoding="UTF-8"/>
      <target type="File" name="file_error" fileName="${basedir}/Logs/Log_${level}_${shortdate}.log" layout="${longdate} ${callsite} ${message}" encoding="UTF-8"/>
      <target type="File" name="file_fatal" fileName="${basedir}/Logs/Log_${level}_${shortdate}.log" layout="${longdate} ${callsite} ${message}" encoding="UTF-8"/>
    </targets>
    <rules>
      <logger name="*" levels="Trace" writeTo="file_trace" />
      <logger name="*" levels="Warn" writeTo="file_warn" />
      <logger name="*" levels="Debug" writeTo="file_debug" />
      <logger name="*" levels="Info" writeTo="file_info" />
      <logger name="*" levels="Error" writeTo="file_error" />
      <logger name="*" levels="Fatal" writeTo="file_fatal" />
    </rules>
  </nlog>

  <appSettings>
    <!-- 连接字符串是否加密 -->
    <add key="ModelCache" value="30"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="web/login/mall_Index.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="DSMT_TAE_ServiceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.1.45/DSMT_TAE_Service.asmx"
        binding="basicHttpBinding" bindingConfiguration="DSMT_TAE_ServiceSoap"
        contract="XFTAEAPI.DSMT_TAE_ServiceSoap" name="DSMT_TAE_ServiceSoap" />
    </client>
  </system.serviceModel>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
</configuration>