<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ModelCache" value="30"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="DSMT_TAE_ServiceSoap" />
        <binding name="DSMTALL_XFWEBAPISoap" />
        <binding name="DSMTALL_XFWEBAPISoap1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.1.45/DSMT_TAE_Service.asmx"
        binding="basicHttpBinding" bindingConfiguration="DSMT_TAE_ServiceSoap"
        contract="XFTAEAPI.DSMT_TAE_ServiceSoap" name="DSMT_TAE_ServiceSoap" />
      <endpoint address="http://mallservice.51ipc.com/DSMTALL_XFWEBAPI.asmx"
        binding="basicHttpBinding" bindingConfiguration="DSMTALL_XFWEBAPISoap"
        contract="CardRead.DSMTALL_XFWEBAPISoap" name="DSMTALL_XFWEBAPISoap" />
      <endpoint address="http://192.168.1.200:8090/DSMTALL_XFWEBAPI.asmx"
        binding="basicHttpBinding" bindingConfiguration="DSMTALL_XFWEBAPISoap1"
        contract="CCC.DSMTALL_XFWEBAPISoap" name="DSMTALL_XFWEBAPISoap1" />
    </client>
  </system.serviceModel>
</configuration>